.hero {
  &__image {
    z-index: -1;
    position: relative;
    background-image: url(/images/bg-intro-mobile.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 17.5rem;
    margin-bottom: 3rem;
    &::before {
      content: "";
      position: absolute;
      background-image: url(/images/image-mockups.png);
      background-size: 92%;
      background-position: center bottom;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
    }
  }
  &__text {
    text-align: center;
    margin-bottom: 5.375rem;
    h1 {
      font-size: 2.25rem;
      font-weight: 300;
      color: $darkBlue;
      line-height: 1.2;
      margin-bottom: 1.75rem;
    }

    p {
      line-height: 1.5;
      margin-bottom: 2.25rem;
    }
  }
}
